html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: Open-Sans;
  /*  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);*/
  src: url(../fonts/OpenSans-Regular.woff) format("woff"),
    url(../fonts/OpenSans-Regular.woff2) format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: Open-Sans;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
}

body {
  margin: 0px auto;
  padding: 0px;
  /*  min-width: 1200px;*/
  min-width: 100%;
}

.header {
  display: flex;
  width: 100%;
  height: 348px;
  flex-direction: column;
  background-size: cover;
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  position: relative;
  padding-bottom: 100px;
  /*margin-left: auto;
  margin-right: auto;*/
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  z-index: 0;
}

.menu {
  box-sizing: border-box;
  display: flex;
  /*  width: 1170px;*/
  width: 100%;
  padding: 26px 30px 0px;
  /*  margin: 0px auto;*/
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  text-align: center;
}

.logo {
  margin-left: 218px;
  min-width: 182px;
  z-index: 1;
}

.list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  border: 0px solid #000;
  margin: 0px 215px 0px;
  padding: 0px;
}

.item {
  text-decoration: none;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  font-family: Open-Sans, sans-serif;
}

.list-item {
  margin-right: 35px;
}

.list-item:last-child {
  margin-right: 0;
}

.item:hover {
  text-decoration: underline;
}

.tablet__menu {
  position: relative;
  display: none;
  width: 25px;
  height: 3px;
  background-color: white;
  border: 0 solid white;
  padding: 0;
  border-radius: 20%;
}

.tablet__menu::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: white;
  left: 0;
  top: -10px;
  border-radius: 20%;
}

.tablet__menu::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: white;
  left: 0;
  bottom: -10px;
  border-radius: 20%;
}

.box-title {
  display: flex;
  flex-direction: column;
  width: 689px;

  justify-content: center;
  margin: 0px auto 0px;
  padding-top: 70px;
}

.welcome__logo {
  display: none;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
}

.welcome-title {
  text-align: center;
  color: white;
  font-family: Open-Sans, sans-serif;
  font-weight: bold;
  font-size: 45px;
  line-height: 1.6;
  text-transform: uppercase;
  z-index: 1;
}

.trends {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*  height: 451px;*/
  /*  min-height: 451px;*/
}

.trends__title {
  margin-top: 39px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 66px;
  width: 100%;
  font-family: Open-Sans, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
/*  padding-top: 25px;*/
}

.trends__title:after {
  content: "";
  display: block;
  margin: 14px auto 0px;
  opacity: 0.4;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
}

.trend__main {
  display: flex;
  flex-direction: row;

  height:318px;
  width: 100%;

  gap: 5px;
}

.trend__box {
  display: flex;
  align-items: flex-end;
  width: 25%;
  position: relative;
  z-index: 0;
/*  padding-top: 60px;*/
}

.trend__box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  z-index: -1;
}

.post__trend {
  color: #fff;
  font-family: Open-Sans, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0px 0px 28px 0px;
}

.post__trend:hover {
  color: #b59f5b;
}

.trend__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 3px solid #b59f5b;
  z-index: 2;
  padding: 34px 33px 6px;
  margin: 0px 20px 16px
}


.box-trend-title {
  margin: 20px 0 20px 0;
}

.box-post-title {
  margin: 6px 0 31px;
}

.trend__one {
  background-image: url(../images/trend1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}

.trend__two {
  background-image: url(../images/trend2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}

.trend__three {
  background-image: url(../images/trend3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}

.trend__four {
  background-image: url(../images/trend4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  width: 1170px;
  justify-content: space-between;
  margin: 60px auto 0px;
  padding: 0px 15px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 778px;
  padding: 0;
  margin: 0;
  margin-left: 0;
}

.big-post {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 57px;
}

/*.img-big-post {
  background-color: #eff6f1;
  width: 381px;
  object-fit: cover;
}*/



.post-info {
  margin-left: 32px;
}

.box-post-title {
  margin: 6px 0 31px;
}

.link-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.link-box {
  margin-right: 21px;
  z-index: 2;
}

.link-box:last-child {
  margin-right: 0px;
}

.sub-link {
  font-family: Open-Sans, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #b59f5b;
}

.sub-link:hover {
  text-decoration: underline;
}

.sub-link:nth-child(n + 2) {
  margin-left: 20px;
}

.post-title {
  font-family: Open-Sans, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  margin: 0px 0px 28px 0px;
  z-index: 2;
}

.post-title:hover {
  color: #b59f5b;
}

.avtor {
  margin-bottom: 42px;
}

.avtor-name {
  font-style: normal;
  font-size: 12px;
  font-family: Open-Sans, sans-serif;
  font-weight: bold;
}

.text {
  font-family: Open-Sans, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.5;
  margin-top: 0px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 272px;
}

.side-menu {
  width: 100%;
}

.asibe-bar-title {
  margin-top: 0;
  font-family: Open-Sans, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 23px;
}

.asibe-bar-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin: 14px auto 0px;
}

.post {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-bottom: 18px;
}

.aside-cont {
  display: flex;
  flex-direction: column;
  margin-left: 19px;
}

.post-img {
  width: 70px;
  background-color: #f4f7f6;
  object-fit: cover;
}

.time {
  font-family: Open-Sans, sans-serif;
  font-size: 14px;
  color: #b8b8b8;
}

.post-title-aside {
  margin: 0;
  line-height: 1;
  padding: 0;
  text-align: left;
}

.post-headline {
  font-family: Open-Sans, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.post-headline:hover {
  color: #b59f5b;
}

.box__field__search {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
}

.search-field {
  width: 100%;
  margin-top: 54px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
}
.field {
  height: 49px;
  width: 100%;
  /*  width: 222px;*/
  padding-left: 15px;
  background-color: #f4f7f6;
  font-family: Open-Sans, sans-serif;
  border: 0px solid #000;
  border-bottom: 1px solid #b59f5b;
  font-weight: normal;
}

.field:focus {
  outline: 1px solid #b59f5b;
  border: 1px solid #b59f5b;
}

.field:hover {
  border: 1px solid #b59f5b;
}

.search-btn {
  border: 0px solid #000;
  width: 50px;
  height: 49px;
  background-image: url(../fonts/svg/search.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  background-color: #b59f5b;
}

.search-btn:hover {
  background-color: #323232;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.newsletter {
  display: flex;
  flex-direction: column;
}

.sub {
  height: 49px;
  /*  width: 100%;*/
  padding-left: 15px;
  background-color: #f4f7f6;
  font-family: Open-Sans, sans-serif;
  border: 0px solid #000;
  border-bottom: 1px solid #b59f5b;
  font-weight: normal;
}

.sub:focus {
  border: 1px solid #b59f5b;
  outline: 1px solid #b59f5b;
}

.sub:hover {
  border: 1px solid #b59f5b;
}

.sub-btn {
  width: 100%;
  height: 47px;
  font-family: Open-Sans, sans-serif;
  font-weight: bold;
  font-size: 14px;
  background-color: #b59f5b;
  color: #fff;
  margin-bottom: 57px;
  margin-top: 17px;
  border: 0px solid #000;
}

.sub-btn:hover {
  background-color: #000;
}


.asibe-bar-title-tag {
  margin-top: 0;
  font-family: Open-Sans, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 18px;
}

.asibe-bar-title-tag::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin: 14px auto 0px;
}



.tag-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0px 0px 48px;
}

.tag {
  border: 3px solid #eeeeee;
  margin: 7px 7px;
  padding: 0px 11px;
}

.tag-link {
  font-family: Open-Sans, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #37282f;
  font-size: 12px;
  text-transform: uppercase;
}

.tag-list .tag:nth-child(3n + 1) {
  margin-left: 0;
}

.tag:hover {
  outline: #e1d9bd solid 3px;
  color: #0f0d0e;
  font-size: 14px;
}

.tag-menu {
  margin-bottom: 0px;
}

.topics {
  padding: 0px 0px;
/*  margin-top: 30px;*/
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2px 0px 18px 0px;
}

.top:nth-child(n + 2) {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.top:first-child {
  padding-top: 0px;
}

.title-top {
  font-family: Open-Sans, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
  color: #37282f;
  font-size: 14px;
  /*   padding-top: -4px; */
}

.number-top {
  margin-left: 5px;
  margin-bottom: 10px;
  font-family: Open-Sans, sans-serif;
  font-weight: bold;
  color: #b59f5b;
  font-size: 14px;
}

.top:last-child .number-top {
  margin-left: 0;
  margin-bottom: 0;
}

.title-top:hover {
  color: #b59f5b;
}

.shop {
  width: 1170px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 68px;
  box-sizing: border-box;
/*  padding: 0 15px;*/
}

.shop__content {
  width: 33%;
  display: flex;
  flex-direction: column;
}

.shop__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 19px;
  width: 100%;
  font-family: Open-Sans, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  padding-top: 0px;
  margin: 18px 0 27px 0;
}

.shop__title:after {
  content: "";
  display: block;
  margin: 14px auto 0px;
  opacity: 0.4;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
}

.shop__main {
  display: flex;
  flex-direction: row;

  gap: 63px;
}

.pic__box {
  display: flex;
  justify-content: center;
}

.pic__shop {
  background-color: #eff6f1;
}

.shop__text {
  border: 3px solid #b59f5b;
  padding:44px 0px 23px 22px;
  margin-top: -25px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title__price {
  margin: 0;
  padding: 0;
  font-family: Open-Sans, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
}

.price__text {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.6;
  color: #0f0d0e;
  font-weight: normal;
  font-family: Open-Sans, sans-serif;
/*  padding-right: 40px;*/
  text-align: left;
}

.price__link {
  font-size: 15px;
  color: #b59f5b;
  text-decoration: none;
}

.price__link:hover {
  text-decoration: underline;
}

.price__text:hover {
  line-height: 22px;
}

.box__price {
  margin: 25px 31px 0px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.button__price {
  margin: 0;
  padding: 10px;
  width: 45%;
  background-color: #b59f5b;
  border: 0 solid lime;
  color: #fff;
  font-family: Open-Sans, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.button__price:hover {
  background-color: #323232;
}

.price {
  margin: 0;
  padding: 0;
  font-family: Open-Sans, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.first__price:before {
  content: "1000 ₽";
  display: block;
  text-decoration: line-through;
  font-size: 14px;
}

.two__price:before {
  content: "500 ₽";
  display: block;
  text-decoration: line-through;
  font-size: 14px;
}

.three__price:before {
  content: "500 ₽";
  display: block;
  text-decoration: line-through;
  font-size: 14px;
}

.footer {
  width: 1170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px 20px;
  margin: 0 auto;
}

.iron-box {
  display: flex;
  width: 100%;
  background-color: #f4f7f6;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0px;
}

.social-links {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 83px;
}

.social-links li {
  margin-left: 30px;
}

.logo-box {
  display: block;
  background-size: contain;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

#logo-1 {
  /*  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");*/
  background-image: url(../fonts/svg/001-dribbble.svg);
}

#logo-2 {
  /*  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");*/
  background-image: url(../fonts/svg/001-pinterest.svg);
}

#logo-3 {
  /*  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");*/
  background-image: url(../fonts/svg/003-tumblr.svg);
}

.copyright {
  margin-top: 73px;
  margin-bottom: 0;
  font-family: Open-Sans;
  font-size: 12px;
  color: #999999;
  font-weight: bold;
  text-decoration: none;
}

.copyright:hover {
  color: #b59f5b;
}


._hidden {
  display: none;
}

.popup__box {
  position: fixed;
  display: flex;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 20;
}

.popup__window {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 589px;
  background-color: #ffffff;
  margin: auto;
}

.popup__window:after {
  content: "";
  position: absolute;
  top: -25px;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url(../fonts/svg/form-x.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.popup__title {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  font-family: Open-Sans, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.popup__title:after {
  content: "";
  display: block;
  margin: 14px auto 0px;
  opacity: 0.4;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
}

.popup__content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.label__popup {
  font-size: 13px;
  color: #000000;
  font-weight: normal;
  font-family: Open-Sans, sans-serif;
  width: 70%;
  margin: 5px 0;
}

.popup__list {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  width: 330px;
  height: 48px;
  background-color: #f4f7f6;
  padding-left: 15px;
  border-radius: 0%;
  background-image: url(../fonts/svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 10px;

  opacity: 0.541;
  font-size: 13px;
  color: #000000;
  font-weight: normal;
  font-family: Open-Sans, sans-serif;

  margin-bottom: 10px;
}

.popup__list:focus {
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.label__radio::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;

  background-image: url(../fonts/svg/form-empty-circle.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

#radio__yes:checked + .label__radio::before {
  background-image: url(../fonts/svg/form-circle.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

#radio__no:checked + .label__radio::before {
  background-image: url(../fonts/svg/form-circle.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.text__aria__popup {
  box-sizing: border-box;
  resize: none;
  width: 330px;
  height: 131px;
  background-color: #f4f7f6;

  opacity: 0.541;
  font-size: 13px;
  color: #000000;
  font-weight: normal;
  font-family: Open-Sans, sans-serif;

  padding: 10px;
  margin-bottom: 27px;
}

.text__aria__popup:focus {
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.popup__button {
  border: 0 solid white;
  padding: 0;
  width: 330px;
  height: 48px;
  background-color: #b59f5b;

  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-family: Open-Sans, sans-serif;
}

.popup__button:hover {
  background-color: #323232;
}

@media (min-width: 640px) and (max-width: 1200px) and (orientation: portrait) {

  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
    height: 298px;
  }


.menu {
  padding: 50px 30px 0px;
}

.logo {
    margin-left: 0px;
    width: 160px;
  }

.logo__img {
  width: 163px;
}

.welcome-title {
    font-size: 40px;
    line-height: 1;
}


.trends {
  height: 590px;
}

.trends__title {
  height: 70px;
  font-size: 18px;
  margin-bottom: 8px;
}


  .sidebar {
    margin-left: 0px;
  }

.asibe-bar-title {
  margin-bottom: 13px;
}

  .tablet__menu {
    display: flex;
    margin-bottom: 8px;
    margin-right: 2px;
  }

  .box-title {
    width: 84%;
    padding-top: 68px;
  }


.box-post-title{
   width: 100%;
   margin:0px 0 27px 0;
   font-size: 18px;
}

.avtor {
  margin-bottom: 28px;
}

.text {
  width: 95%;
}
  .list {
    display: none;
  }

  .trend__main {
    flex-wrap: wrap;
    height: 100%;
    gap: 5px;
  }

  .box-trend-title {
    margin: 5px 0 18px 0;
}

  .trend__box {
    width: calc(100% / 2 - 5px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .trend__content {
    margin: 0 18px 33px;
  }

.link-list{
  margin: 0 0 0 0;
}
  .content {
    width: 93%;
    padding: 0;
  }
  .main {
    width: 60%;
  }

  .big-post {
    flex-direction: column;
  }

.img-post-news {
  width: 100%;
}

  .post-info {
    width: 100%;
    margin-left: 0px;
    margin-top: 5px;
  }

  .post__trend,
  .shop__title,
  .title__price {
    font-size: 17px;
  }

  .shop {
    width: 100%;
    margin: 0 auto 44px;
  }

  .shop__main {
    margin-left: 31px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 34px;
  }

  .shop__content {
    width: 44%;
/*    padding: 5px;*/
    justify-content: center;
    align-items: center;
/*    margin-left: 10px;*/
  }

  .shop__text {
    min-width: 70%;
    padding: 20px;
    min-height: 200px;
  }

  .footer {
    box-sizing: border-box;
    padding: 0 34px 15px;
    width: 100%;
  }

  .iron-box {
    width: 100%;
  }

  .popup__window {
    width: 390px;
    height: 596px;
  }
}

@media (min-width: 640px) and (max-width: 1200px) and (orientation: landscape) {
  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
    height: 298px;
  }

.menu {
  padding: 40px 21px 0px;
}

.logo__img {
  width: 160px;
}

  .logo {
    margin-left: 38px;
    width: 163px;
  }

.box-title {
    width: 84%;
  }


.welcome-title {
    font-size: 40px;
    line-height: 1;
}
  .sidebar {
    margin-left: 15px;
  }
  .tablet__menu {
    display: flex;
    margin-bottom: 15px;
    margin-right: 50px;
    margin-top: 17px;
  }

  .welcome-title {
    margit:9px 0 0 0;
  }

  .list {
    display: none;
  }

  .trends__title {
    margin-top: 25px;
    margin-bottom: 0;

}
  .trend__main {
    height: 220px;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: space-between;
  }

  .trend__box {
    display: flex;
    width: 24.8%;
    justify-content: center;
    align-items: flex-end;
  }

  .trend__content {
    margin: 0 10px 20px;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .content {
    width: 80%;
    padding: 0;
  }
  .main {
    width: 70%;
  }

  .big-post {
    flex-direction: column;
  }

  .post-info {
    width: 100%;
    margin-left: 0px;
  }

  .post__trend,
  .post-title,
  .shop__title,
  .title__price {
    font-size: 17px;
  }

.shop {
    width: 100%;
  }
  .shop__main {
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap:10px;
  }
  .shop__content {
    width: 46%;
/*    padding: 5px;*/
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }

  .shop__text {
    width: 70%;
    padding: 20px;
  }

  .footer {
    box-sizing: border-box;
    padding: 0 34px 15px;
    width: 100%;
  }

  .iron-box {
    width: 100%;
  }

  .popup__window {
    width: 390px;
    height: 596px;
  }
}

@media (max-width: 639px) and (orientation:portrait) {
  .header {
    background-image: url(../images/banner-mobile.jpg);
    height: 541px;
  }

  .main {
    width: 100%;
  }

  .sidebar {
    width: 100%;
    box-sizing: border-box;
    padding: 0 12px;
  }

  .logo {
    min-width: 0;
  }


  .list {
    display: none;
  }

  .tablet__menu {
    display: flex;
  }

  .welcome__logo {
    display: flex;
    width: 264px;
  }

  .welcome-title {
    font-size: 26px;
    width: 70%;
    margin: 20px auto;
  }

  .box-title {
    width: 94%;
    padding-top: 180px;
  }

  .trends__title {
     height: 33px;
  }

  .trend__main {
    flex-wrap: wrap;
    height: 100%;
  }

.box-trend-title {
  margin: 3px 0px 20px 0;
}

.trend__content {
    padding: 34px 19px 6px;
    margin: 0px 16px 12
}


  .trend__box {
    display: flex;
    width: 100%;
    min-height: 230px;
    justify-content: center;
    align-items: flex-end;
  }

  .content {
    margin: 40px auto 0px;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    padding: 0;
  }

  .big-post {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .img-big-post {
    margin: 0 10px;
  }
  .img-post-news{
   width: 100%;
}

.box-post-title {
    margin: 6px 0 13px;
}

.avtor {
    margin-bottom: 15px;
}

.text {
  line-height: 1;
  margin-top: 0px;
}
  .post-info {
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
    box-sizing: border-box;
  }

  .post__trend,
  .post-title,
  .shop__title,
  .title__price {
    font-size: 16px;
  }

  .shop {
      width: 100%;
    }
  .shop__main {
    flex-wrap: wrap;
    width: 100%;
  }
  .shop__content {
    width: 100%;
    padding: 5px;
  }

  .shop__text {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .footer {
    box-sizing: border-box;
    width: 100%;
  }
}


@media (max-width: 639px) and (orientation:landscape) {
  
   .header {
    background-image: url(../images/banner-mobile.jpg);
    height: 100vh;
  }

  .main {
    width: 100%;
  }

  .sidebar {
    width: 100%;
    box-sizing: border-box;
    padding: 0 12px;
  }

  .logo {
    min-width: 0;
  }

  .list {
    display: none;
  }

  .tablet__menu {
    display: flex;
  }

  .welcome__logo {
    display: flex;
    width: 100%;
  }

  .welcome-title {
    font-size: 26px;
    width: 70%;
    margin: 20px auto;
  }

  .box-title {
    width: 70%;
  }

  .trend__main {
    flex-wrap: wrap;
    height: 100%;
  }

  .trend__box {
    display: flex;
    width: 49%;
    height: 250px;
    justify-content: center;
    align-items: flex-end;
  }

  .trend__content {
    padding: 0 5px;
  }

  .content {
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    padding: 0;
  }

  .big-post {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .img-big-post {
    margin: 0 10px;
  }

    .img-post-news{
   width: 100%;
}

  .post-info {
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
    box-sizing: border-box;
  }

  .post__trend,
  .post-title,
  .shop__title,
  .title__price {
    font-size: 16px;
  }

  .shop {
    width: 100%;
  }
  .shop__main {
    flex-wrap: wrap;
    width: 100%;
  }
  .shop__content {
    width: 100%;
    padding: 5px;
  }

  .shop__text {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .footer {
    box-sizing: border-box;
    width: 100%;
  }
}

  
}